schema/krp.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xml:lang="de">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>KRP-Schema</title>
        <author>Timo Frühwirth</author>
      </titleStmt>
      <publicationStmt>
        <publisher key="https://d-nb.info/gnd/1001454-8">Österreichische Akademie der Wissenschaften</publisher>
        <availability status="free">
          <licence target="https://creativecommons.org/licenses/by/4.0/deed.de">Lizenziert unter CC-BY-4.0 (https://creativecommons.org/licenses/by/4.0/deed.de)</licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Basierend auf "TEI Complete"-Customization.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.3.2" when="2026-04-28T08:17:08.622Z">
          <desc>Datei mit <ref target="https://github.com/TEIC/romajs">RomaJS</ref> erstellt.</desc>
        </application>
      </appInfo>
    </encodingDesc>
  </teiHeader>
  <text>
    <body>
      <head>KRP-Schema</head>
      <p>
        Dieses Schema dokumentiert die TEI-Customization für das Projekt „Die Protokolle des österreichischen Kabinettsrates 1919–1920“. <!-- Ausgehend von TEI-All ... Schema des TEI Headers dokumentiert durch py Script ... -->
      </p>
      <schemaSpec ident="tei_krp" start="TEI teiCorpus" prefix="tei_krp" targetLang="de" docLang="de">
        
        <!-- module reference -->
                
        <moduleRef n="01" key="tei"/>
        <moduleRef n="02" key="header"/>
        <moduleRef n="03" key="core"/>
        <moduleRef n="04" key="textstructure"/>
        <!-- <moduleRef n="05" key="gaiji"/> -->
        <!-- <moduleRef n="06" key="verse"/> -->
        <moduleRef n="07" key="drama"/>
        <moduleRef n="08" key="spoken"/>
        <!-- <moduleRef n="09" key="cmc"/> -->
        <moduleRef n="18" key="analysis"/>
        <!-- <moduleRef n="10" key="dictionaries"/> -->
        <moduleRef n="11" key="msdescription"/>
        <moduleRef n="12" key="transcr"/>
        <moduleRef n="13" key="textcrit"/>
        <moduleRef n="14" key="namesdates"/>
        <moduleRef n="15" key="figures"/>
        <!-- <moduleRef n="16" key="corpus"/> -->
        <moduleRef n="17" key="linking"/>
        <!-- <moduleRef n="19" key="iso-fs"/> -->
        <!-- <moduleRef n="20" key="nets"/> -->
        <moduleRef n="22" key="certainty"/>
        <!-- <moduleRef n="23" key="tagdocs"/> -->
        
        <!-- element specification -->
        
        <elementSpec ident="change" mode="change">
          <attList>
            <attDef ident="who" usage="req" mode="change">
              <!-- <datatype minOccurs="1" maxOccurs="unbounded">
                <dataRef key="teidata.enumerated"/>
              </datatype> -->
              <valList type="closed" mode="replace">
                <valItem ident="#rlein"/>
                <valItem ident="#aholzer"/>
                <valItem ident="#dsoelkner"/>
                <valItem ident="#ischotzko"/>
                <valItem ident="#tfruehwirth"/>
              </valList>
              <remarks>
                <p>Im KRP-Schema sind die Autor:innen von in &lt;change&gt;-Elementen erfassten Änderungen durch Verweise auf ihre @xml:id ausgewiesen.</p>
              </remarks>
            </attDef>
            <attDef ident="when-iso" usage="req" mode="change">
              <datatype>
                <dataRef key="teidata.temporal.iso"/>
              </datatype>
              <remarks>
                <p>Im KRP-Schema entsprechen die Zeitangaben für in &lt;change&gt;-Elementen erfasste Änderungen dem ISO-Format.</p>
              </remarks>
            </attDef>
          </attList>
          <constraintSpec ident="change-who-resolves" scheme="schematron" mode="add">
            <constraint>
              <sch:rule context="tei:change">
                <sch:assert test="every $w in tokenize(@who, '\s+') satisfies //tei:persName[@xml:id = substring-after($w, '#')]">Jeder Wert von @who in &lt;change&gt; verweist auf einen durch @xml:id spezifizierten &lt;persName&gt; im Dokument.</sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>
        
        <elementSpec ident="div" mode="change">
          <constraintSpec ident="body-div" scheme="schematron" mode="add">
            <constraint>
              <sch:rule context="tei:TEI/tei:text/tei:body/tei:div">
                <sch:assert test="count(tei:head) = 1 and tei:head[@type='dokument']">Das äußerste &lt;div&gt;-Element enthält genau einen &lt;head&gt;; dieser hat den @type-Wert "dokument".</sch:assert>
                <sch:assert test="
                              count(tei:div) = 5 and
                              tei:div[1]/@type = 'dokumentkopf' and
                              tei:div[2]/@type = 'komponenten' and
                              tei:div[3]/@type = 'beilagen' and
                              tei:div[4]/@type = 'protokoll' and
                              tei:div[5]/@type = 'stenogramm'"
                  >Das äußerste &lt;div&gt; enthält genau fünf &lt;div&gt;-Elemente mit den @type-Werten (in dieser Reihenfolge) "dokumentkopf", "komponenten", "beilagen", "protokoll", "stenogramm".</sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>

      </schemaSpec>
    </body>
  </text>
</TEI>
